{% extends "base.html" %}
{% block content %}
    <div class="p-2 mb-4 rounded-3">
        <div class="container-fluid py-2">
            <h2>Update Session Record</h2>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="row mb-3">
                    <div>{{ form.client_id.label(class="col-form-label") }}{{ form.client_id(class="form-select", placeholder="Client ID", list="client_list") }}</div>
                    <datalist id="client_list">
                        {% for client in clients %}
                            <option value="{{ client.id }}">{{ client.firstname }} {{ client.lastname }}</option>
                        {% endfor %}
                    </datalist>
                    <div>{{ form.employee_id.label(class="col-form-label") }}{{ form.employee_id(class="form-select", placeholder="Employee ID", list="employee_list") }}</div>
                    <datalist id="employee_list">
                        {% for employee in employees %}
                            <option value="{{ employee.id }}">{{ employee.firstname }} {{ employee.lastname }}</option>
                        {% endfor %}
                    </datalist>
                    <div>{{ form.intervention_type.label(class="col-form-label") }}{{ form.intervention_type(class="form-select") }}</div>
                </div>
                <div class="row mb-3">
                    <div>{{ form.date.label(class="col-form-label") }}{{ form.date(class="form-control", type="date") }}</div>
                    <div>{{ form.start_time.label(class="col-form-label") }}{{ form.start_time(class="form-control", id="start_time", type="time") }}</div>
                    <div>{{ form.end_time.label(class="col-form-label") }}{{ form.end_time(class="form-control", id="end_time", type="time") }}</div>
                    <div>{{ form.duration.label(class="col-form-label") }}{{ form.duration(class="form-control", id="duration", readonly=True) }}</div>
                </div>
                {{ form.submit(class="btn btn-outline-warning") }} <a href="{{ url_for('interventions.list_interventions') }}" class="btn btn-secondary ms-2">Cancel</a>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/duration.js') }}"></script>
    <script>
        setupDurationCalculation('start_time', 'end_time', 'duration');
    </script>
{% endblock %}
