{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="col-12">
            <h2>Add Client Record</h2>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="row mb-3">
                    <div>{{ form.firstname.label(class="col-form-label") }}{{ form.firstname(class="form-control", placeholder="First Name") }}</div>
                    <div>{{ form.lastname.label(class="col-form-label") }}{{ form.lastname(class="form-control", placeholder="Last Name") }}</div>
                    <div>{{ form.dob.label(class="col-form-label") }}{{ form.dob(class="form-control", type="date") }}</div>
                    <div>{{ form.gender.label(class="col-form-label") }}{{ form.gender(class="form-select") }}</div>
                </div>
                <div class="row mb-3">
                    <div>{{ form.parentname.label(class="col-form-label") }}{{ form.parentname(class="form-control", placeholder="Parent's Full Name") }}</div>
                    <div>
                        {{ form.parentemail.label(class="col-form-label") }}
                        {{ form.parentemail(class="form-control", placeholder="parent@email.com") }}
                        {% for error in form.parentemail.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                                        <div>
                        {{ form.parentemail2.label(class="col-form-label") }}
                        {{ form.parentemail2(class="form-control", placeholder="parent@email.com") }}
                        {% for error in form.parentemail2.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div>
                        {{ form.parentcell.label(class="col-form-label") }}
                        {{ form.parentcell(class="form-control", type="tel", value=form.parentcell.data|format_phone) }}
                        {% for error in form.parentcell.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div>{{ form.address1.label(class="col-form-label") }}{{ form.address1(class="form-control", placeholder="123 Main St") }}</div>
                    <div>{{ form.address2.label(class="col-form-label") }}{{ form.address2(class="form-control", placeholder="Apt/Suite") }}</div>
                    <div>{{ form.city.label(class="col-form-label") }}{{ form.city(class="form-control", placeholder="City") }}</div>
                    <div>{{ form.state.label(class="col-form-label") }}{{ form.state(class="form-select") }}</div>
                    <div>{{ form.zipcode.label(class="col-form-label") }}{{ form.zipcode(class="form-control", placeholder="Zip Code") }}</div>
                </div>
                <div class="row mb-3">
                    <div>{{ form.supervisor_id.label(class="col-form-label") }}{{ form.supervisor_id(class="form-select") }}</div>
                    <div>{{ form.cost_supervision.label(class="col-form-label") }}{{ form.cost_supervision(class="form-control", placeholder="0.0", value=0) }}</div>
                    <div>{{ form.cost_therapy.label(class="col-form-label") }}{{ form.cost_therapy(class="form-control", placeholder="0.0", value=0) }}</div>
                </div>
                <div class="col-auto">
                    {{ form.submit(class="btn btn-outline-primary") }}
                    <a href="{{ url_for('clients.list_clients') }}" class="btn btn-secondary ms-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
