{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="col-12">
        <h2>Select Client and Duration for Invoice</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="row mb-3">
                <div>{{ form.client_id.label(class="col-form-label") }}{{ form.client_id(class="form-select") }}</div>
                <div>{{ form.date_from.label(class="col-form-label") }}{{ form.date_from(class="form-control", type="date", **{"data-allow-future": ""}) }}</div>
                <div>{{ form.date_to.label(class="col-form-label") }}{{ form.date_to(class="form-control", type="date", **{"data-allow-future": ""}) }}</div>
            </div>
            <div class="col-auto">
                {{ form.submit(class="btn btn-primary") }}
                <a href="{{ url_for('invoices.list_invoices') }}" class="btn btn-secondary ms-2">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}