{% extends "base.html" %}
{% block content %}

<div class="container-fluid py-2">
    <h2>Add new User</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row mb-3">
            <div>{{ form.email.label(class="col-form-label") }}{{ form.email(class="form-control", placeholder="email@example.com") }}</div>
            <div>{{ form.user_type.label(class="col-form-label") }}{{ form.user_type(class="form-select") }}</div>
        </div>
        {{ form.submit(class="btn btn-primary mb-3") }} <a href="{{ url_for('users.list_users') }}" class="btn btn-secondary ms-2 mb-3">Cancel</a>
    </form>
</div>

{% endblock %}