{% extends "base.html" %}
{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ messages[0] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endwith %}
    <div class="p-2 mb-4 rounded-3">
        <div class="container-fluid py-2">
            {% if current_user.is_authenticated and current_user.user_type == "super" or current_user.user_type == "admin" %}
                <h2>Welcome Super User</h2>
            {% else %}
                <h2>You are not super user</h2>
            {% endif %}
            <hr>
            <h2>MICES</h2>
            <h4>A comprehensive Business Management tool that handles Invoicing, Client relationships, Employee management, and Scheduling - quite a useful suite of features!</h4>
        </div>
    </div>
    
{% endblock %}