{% extends "base.html" %}
{% block content %}
    <style>
        .flex-container {
        display: flex;
        flex-wrap: wrap; /* Allows items to wrap to new lines */
        justify-content: space-around; /* Distributes space around items */
        }
    </style>
    <div class="p-4 mb-4 rounded-3">
        {% if current_user.is_authenticated %}
            <h1>Welcome to your dashboard</h1>
            <div class="row py-4">
                <div class="card-group">
                    {% if current_user.user_type == "admin" %}
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title" style="text-align: center;">Employees</h2>
                                <div class="flex-container">
                                    <div class="flex-item" style="font-size: 4rem; text-align: left;"><i class="bi-person-badge"></i></div>
                                    <div class="flex-item" style="font-size: 4rem; text-align: right;">{{ total_employees }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title" style="text-align: center;">Clients</h2>
                                <div class="flex-container">
                                    <div class="flex-item" style="font-size: 4rem; text-align: left;"><i class="bi-person-arms-up"></i></div>
                                    <div class="flex-item" style="font-size: 4rem; text-align: right;">{{ total_clients }}</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if not current_user.user_type == "super" %}
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title" style="text-align: center;">Sessions</h2>
                                <div class="flex-container" style="text-align: center;">
                                    <div class="flex-item" style="font-size: 4rem;"><i class="bi-journal-bookmark"></i></div>
                                    <div class="flex-item" style="font-size: 4rem;">{{ user_interventions }}
                                        <p style="font-size: .75rem; color: #7e7e7e;">You</p>
                                    </div>
                                    {% if current_user.user_type == "admin" %}
                                        <div class="flex-item" style="font-size: 4rem;">{{ total_interventions }}
                                            <p style="font-size: .75rem; color: #7e7e7e;">Overall</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if current_user.user_type == "admin" %}
                <div class="row py-4 px-3">
                    <div class="card">
                        <div class="flex-item" style="font-size: 2rem;">
                            <i class="bi-receipt"></i>
                            Earnings
                        </div>
                        <div class="card-group py-3 px-2">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="card-title" style="text-align: center;">This Month</h2>
                                    <div class="flex-container" style="text-align: center;">
                                        <div class="flex-item" style="font-size: 2rem; color: blue">
                                            <small style="font-size: small;">CAD</small> 500
                                            <p style="font-size: .75rem; color: #7e7e7e;">Total</p>
                                        </div>
                                        <div class="flex-item" style="font-size: 2rem; color: green">
                                            <small style="font-size: small;">CAD</small> 200
                                            <p style="font-size: .75rem; color: #7e7e7e;">Received</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="card-title" style="text-align: center;">This Quarter</h2>
                                    <div class="flex-container" style="text-align: center;">
                                        <div class="flex-item" style="font-size: 2rem; color: blue">
                                            <small style="font-size: small;">CAD</small> 2100
                                            <p style="font-size: .75rem; color: #7e7e7e;">Total</p>
                                        </div>
                                        <div class="flex-item" style="font-size: 2rem; color: green">
                                            <small style="font-size: small;">CAD</small> 1800
                                            <p style="font-size: .75rem; color: #7e7e7e;">Received</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="card-title" style="text-align: center;">This Year</h2>
                                    <div class="flex-container" style="text-align: center;">
                                        <div class="flex-item" style="font-size: 2rem; color: blue">
                                            <small style="font-size: small;">CAD</small> 5500
                                            <p style="font-size: .75rem; color: #7e7e7e;">Total</p>
                                        </div>
                                        <div class="flex-item" style="font-size: 2rem; color: green">
                                            <small style="font-size: small;">CAD</small> 5200
                                            <p style="font-size: .75rem; color: #7e7e7e;">Received</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="card-title" style="text-align: center;">Last Year</h2>
                                    <div class="flex-container" style="text-align: center;">
                                        <div class="flex-item" style="font-size: 2rem; color: blue">
                                            <small style="font-size: small;">CAD</small> 12800
                                            <p style="font-size: .75rem; color: #7e7e7e;">Total</p>
                                        </div>
                                        <div class="flex-item" style="font-size: 2rem; color: green">
                                            <small style="font-size: small;">CAD</small> 12800
                                            <p style="font-size: .75rem; color: #7e7e7e;">Received</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="container-fluid py-2">
                <h2>MyApp</h2>
                <h4>A comprehensive Business Management tool for Employee management, Client relationships, Scheduling, and Invoicing</h4>
                <p>Qutie useful suite of features!</p>
                <div class="py-2">
                    <p>You need to be logged in to use this web application.</p>
                    <p>Please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('register') }}">register</a> to continue.</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}